.bg-banner{
    background-image: url(../img/banner.png);
    /* height: 100vh; */
}


.bg-blue-dark{
    background-color: #002A43;
}

.bg-gray{
    background-color: #F1F1F1;
}

.pack-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FORM */
.form-banner{
    border:  3px solid #ffc107;
    padding: 12px;
    height: 50px;
    font-size: 16px;
    color: black !important;
}

.form-banner::placeholder{
    color: black;
}

select, option{
    color: black !important;
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    color:black;
    background: white;
    -webkit-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}

/* BTN */
.btn-yellow{
    background-color: #ffc107;
}

/* HEIGHT */
.h-100px{
    height: 100px;
}

.h-50p{
    height: 50px;
}

/* WIDTH */
.w-200p{
    width: 200px;
}

.w-300p{
    width: 300px;
}

.w-70p{
    width: 70px;
}

/* FONT-SIZE */
.zise-18{
    font-size: 18px;
}

/* ROUNDED */
.rounded-xl{
    border-radius: 14px;
}

.rounded-xl-top{
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

/* TEXTO-COLORS */
.text-dark-blue{
    color: #002A43;
}

.text-aqua-light{
    color: #5B92B2;
}

.font-weight-500{
    font-weight: 500;
}

/** COMPONENTES */
.bg-line-midle{
    background-image: linear-gradient(white 35%, #002A43 35%, #002A43 65%, #F1F1F1 65%);
}

.shadow-xl{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.277);
}

.square{
    padding-top: 45px;
    padding-bottom: 25px;
}

.icon_square{
    width: 50px;
    height: 50px;
}

.top-neg-35{
    top: -35px;
}

.gap-13{
    gap: 13px;
}

/* MARGIN */
.my-100{
    margin-top: 100px;
    margin-bottom: 80px;
}

/* PADDING */
.py-100-80{
    padding-top: 100px;
    padding-top: 80px;
}